.Section {
    padding: 0vw 0 20vw 0;
    width: 100%;
    color: #333;
    font-family: var(--font-family-gothic);
}

.Grid {
    display: grid;
    grid-template-columns: var(--grid-columns-sp);
    grid-auto-rows: var(--grid-rows-sp);
}

.Title {
    background-color: #eee;
    width: 100%;
    grid-column: 1/-1;
    grid-row: span 3;
    display: grid;
    border-bottom: 2px solid #ddd;
}
.Title h1 {
    font-size: 4.5vw;
    text-align: center;
    font-weight: 600;
}
.Title h2 {
    align-self: end;
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
    line-height: 3;
}

.Services {
    width: 100%;
    grid-column: 1/-1;
    grid-row: span 10;
    display: grid;
}

.Service {
    padding: 5vw 0 0 0;
    display: grid;
    grid-template-columns: var(--grid-columns-sp);
    grid-auto-rows: var(--grid-rows-sp);
}

.Image {
    justify-self: center;
    align-self: center;
    object-fit: contain;
    width: 70%;
    grid-column: 1/3;
    grid-row: span 3;
}

.Service h3 {
    justify-self: center;
    align-self: end;
    font-size: 5vw;
    font-weight: 700;
    width: 80%;
    grid-column: 3/-1;
    grid-row: span 1;
}
.Text {
    justify-self: center;
    width: 80%;
    font-size: 3.5vw;
    grid-column: 3/-1;
    grid-row: span 2;
    font-weight: 500;
}


@media (min-width: 561px) {
    .Section {
        padding: 0 0 10vw 0;
    }
    .Grid {
        grid-template-columns: var(--grid-columns-tb);
        grid-auto-rows: var(--grid-rows-tb);
    }

    
    .Title {
        background-color: #eee;
        width: 100%;
        grid-column: 1/-1;
        grid-row: span 4;
        display: grid;
        border-bottom: 5px solid #ddd;
    }
    .Title h1 {
        font-size: 2.7vw;
    }
    .Title h1 br {
        display: none;
    }
    .Title h2 {
        align-self: end;
        text-align: center;
        font-size: 1.6vw;
        font-weight: 600;
        line-height: 3;
    }

    .Services {
        width: 90%;
        justify-self: center;
        grid-column: 1/-1;
        grid-row: span 5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .Service {
        padding: 3vw 0 0 0;
        display: grid;
        grid-auto-rows: var(--grid-rows-tb);
    }

    .Image {
        justify-self: center;
        align-self: center;
        object-fit: contain;
        width: 80%;
        grid-column: 1/3;
        grid-row: span 4;
    }

    .Service h3 {
        justify-self: center;
        align-self: end;
        font-size: 1.7vw;
        font-weight: 600;
        width: 80%;
        grid-column: 3/-1;
        grid-row: span 1;
    }
    .Text {
        justify-self: center;
        width: 80%;
        font-size: 1.2vw;
        grid-column: 3/-1;
        grid-row: span 4;
        font-weight: 500;
    }

    
}

@media (min-width: 1081px) {
    .Grid {
        grid-template-columns: var(--grid-columns-pc);
        grid-auto-rows: var(--grid-rows-pc);
    }


}
