.Section {
    padding: 10vw 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    font-family: var(--font-family-gothic);
}

.Grid {
    display: grid;
    grid-template-columns: var(--grid-columns-sp);
    grid-auto-rows: var(--grid-rows-sp);
    place-items: center;
}

.Title {
    grid-column: 1/-1;
    grid-row: span 3;
    height: 80%;
    width: 85%;
    text-align: center;
}
.Title h1 {
    font-size: 8vw;
    font-weight: 700;
    color: #0087db;
}
.Title h2 {
    font-size: 4.5vw;
    font-weight: 600;
    color: #666;
}
