.Section {
    padding: 10vw 0 20vw 0;
    width: 100%;
    background-color: #222;
    color: #eee;
}

.Grid {
    display: grid;
    grid-template-columns: var(--grid-columns-sp);
    grid-auto-rows: var(--grid-rows-sp);
}

.Title {
    justify-self: center;
    width: 85%;
    grid-column: 1/-1;
    grid-row: span 2;
}
.Title h1 {
    font-family: var(--font-family-eg);
    font-size: 10vw;
    font-weight: 500;
}
.Title h2 {
    font-size: 4vw;
    font-weight: 500;
    line-height: 2;
}

.Image {
    justify-self: center;
    width: 85%;
    grid-column: 1 / -1;
    grid-row: span 4;
}

.Text {
    justify-self: center;
    align-self: center;
    width: 85%;
    height: 90%;
    grid-column: 1/-1;
    grid-row: span 7;
}
.Text p {
    font-size: 3.5vw;
}

@media (min-width: 561px) {
    .Section {
        padding: 5vw 0 20vw 0;
    }
    .Grid {
        grid-template-columns: var(--grid-columns-tb);
        grid-auto-rows: var(--grid-rows-tb);
    }

    .Title {
        grid-column: 2/-1;
        grid-row: span 3;
    }
    .Title h1 {
        font-family: var(--font-family-eg);
        font-size: 7vw;
        font-weight: 500;
    }
    .Title h2 {
        font-size: 1.5vw;
        font-weight: 500;
        line-height: 2;
    }

    .Image {
        justify-self: center;
        width: 100%;
        grid-column: 2 / 8;
        grid-row: span 6;
    }

    .Text {
        justify-self: center;
        width: 80%;
        grid-column: 8/-1;
        grid-row: span 6;
    }
    .Text p {
        font-size: 1.2vw;
    }
    
}

@media (min-width: 1081px) {
    .Grid {
        grid-template-columns: var(--grid-columns-pc);
        grid-auto-rows: var(--grid-rows-pc);
    }

    .Title {
        grid-column: 2/-1;
        grid-row: span 3;
    }
    .Title h1 {
        font-family: var(--font-family-eg);
        font-size: 7vw;
        font-weight: 500;
    }
    .Title h2 {
        font-size: 1.5vw;
        font-weight: 500;
        line-height: 2;
    }

    .Image {
        justify-self: center;
        width: 100%;
        grid-column: 2 / 8;
        grid-row: span 6;
    }

    .Text {
        justify-self: center;
        width: 80%;
        grid-column: 8/-1;
        grid-row: span 6;
    }
    .Text p {
        font-size: 1.2vw;
    }
}
